{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<header class="mt-5">
    <h1>{{ title }}</h1>
    <p>Consulter les <a href="/bd">BD</a></p>
    <p>Cyprum itidem insulam procul a continenti discretam et portuosam inter municipia crebra urbes duae faciunt claram Salamis et Paphus, altera Iovis delubris altera Veneris templo insignis. tanta autem tamque multiplici fertilitate abundat rerum omnium eadem Cyprus ut nullius externi indigens adminiculi indigenis viribus a fundamento ipso carinae ad supremos usque carbasos aedificet onerariam navem omnibusque armamentis instructam mari committat.</p>
{# {% if age > 18 %}
    <p>Tu es majeur</p>
{% else %}
    <p>Tu es mineur</p>
{% endif %} #}

</header>
{% endblock %}